body{
  background: red;
  text-align: center;
}
img{
  width: 40%;
}
.card{
  background: green;
  width: 40%;
  border-radius: 2em;
}
#card{
  /*background: pink; */
  /*display: flex; */
  /*padding: 5%;*/
  justify-content: space-around;
  display: flex;
  margin: 2%;
}
.card:hover{
  box-shadow: 0 8px 8px 8px pink;
}
